<!DOCTYPE html>
<html lang="es">

 <head>

  <%-include("template/head")%>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/85fec555d4.js" crossorigin="anonymous"></script>
  <title>Nosotros</title>
 </head>

 <body>

  <header>
    <%-include("template/header")%>
  </header>
  <h1>Vista Inicio de sesion en Desarrollo........</h1>

  <footer>
    <%-include("template/footer)%>
  </footer>
 </body>

</html>