* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    

}

.whatsapp { 
    height: 55px;
    width: 55px;
    margin-left: 90%;
    margin-bottom: 20px;
    cursor: pointer;
    
}

body {
    margin: 0;
    background-color:#D5D5D5;
    

}

nav {
    background: #D5D5D5;
   
}

.logo{
margin-left: 20px;
width:130px;
height: 140px;
}




.form-control-nav {

    height: 35px;
    width: 400px;
    margin-top: 15px;
    border-radius: 5px;
    
}

.btn {
    margin-top: 15px;
    color: #DDDDDD;
    background-color: black;
    height: 35px;
}

.form-control-nav .me-2{
  border-color: #B8FFF9;  
  margin-right: 20px;
}

#email{
margin-left: 108px;
}

#phone{
margin-left: 108px;
}

#botonEnviar {
    margin-right: 90px;
}




.navbar-brand {
    color: white;
    font-size: 14px;
   
}

.nav-link active {
    color: white;
    font-size: 14px;
    
}

.nav-link {
    color: black;
    font-size: 14px;
    
    
}
.fondo{
   display: flex;
   justify-content: center;
    
}

.titulo{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 40px; 
    font-family: 'BIZ UDPMincho', serif;
}

.publicidad{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 40px;
    
}


li {
    float: left;
    list-style: none;
    padding: 10px;
    position: relative;
    font-size: 16px;

}


.input {
    font-size: 40px;
    padding: 1px;
    width: 250px;
    margin-bottom: 30px;
    border-color: aqua;
    margin-right: 20px;
}



ul,
ol {
    list-style: none;
    background-color: #FAD9E6;
    border-radius: 5px;
    margin-right: 50px;
    

}

.nav,
li,
a {
    text-decoration: none;
    color: black;
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.nav li a {

    padding: 10px;
    height: 35px;
    font-size: 18px;

}

.nav ul li {
    display: flex;
    align-content: center;
}

.fas fa-search:hover {
    background: blanchedalmond;
}

nav>li {
    float: left;

}

nav li img {
    height: 40px;
    width: 65px;
    margin-bottom: 20px;

}



.container li:hover>ul {
    position: absolute;
    display: block;
    display: none;
}

button {
    
   
    color: white;
    width: 140px;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-radius: 10px;
}

.form-groupContenedor{
    display: flex;
    flex-direction: column;
    
}






img {
    width: 100%;
    height: 100%;
}

#contePuntos {
    display: flex;
    justify-content: center;
}

.btn2 {
    position: absolute;
    background-color: rgba(190, 47, 47, 0.883);
    width: 10px;
    height: 20px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;


}

#contePuntos>a {

    font-size: 0.5em;
    margin-top: 10px;
}



.container-all {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 40px;

}

.container-all img {
    width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
    border-radius: 25px;
}

.container-all2 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-top: 6px solid;
    margin-top: 40px;


}

.container-all2 img {
    width: 300px;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 70%;
    border-radius: 28px;

}


.container-all p {
    font-size: 30px;
    font-weight: 300px;
    float: right;

}

.container-all2 p {
    font-size: 30px;
    font-weight: 300px;
    border-bottom: 6px solid black;
    margin-top: 40px;
    margin-bottom: 40px;

}


footer {
    width: auto;
    background: #202020;
    color: white;

}

.container-body-footer {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 10px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 200px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 18px;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
}


.icone-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;

}
.colum2 {
    
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.colum2 h1 {
    font-size: 22px;
    

}

.colum2 p {

    font-size: 10px;
    color: #c7c7c7;
    margin-top: 20px;
    margin-right: 40px;
}




.icone-container img {
    width: auto;
    height: 25px;
    cursor: pointer;
    
    
}

.googleMap img {
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-bottom: 25px;
    cursor: pointer;
}





.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.container-footer {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    
    
}

.footer-alineacion {
    display: flex;
    max-width: 1200px;
    margin-right: 150px;
    margin-left: 100px;
    flex-direction: column;
}

.copyright {
    display: flex;
    justify-content: initial;
    margin-right: 40%;

}

.copyright a {
    font-weight: bold;
}

.information {
    display: flex;
    margin-left: 60%;
    width: 500px;
    height: 20px;
    justify-content: space-evenly;
    margin-right: 200px;


}
#message::placeholder{
   background-image: url(/img/mensaje.svg); 
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    
}
#fname::placeholder{
    background-image: url(/img/person-circle.svg); 
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    

}
#lname::placeholder{
    background-image: url(/img/person-circle.svg); 
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
}
#email::placeholder{
    background-image: url(/img/arroba.svg); 
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    
}
#email{
    display: flex;
}
#phone::placeholder{
    background-image: url(/img/telephone-fill.svg); 
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
}
#password::placeholder{
    background-image: url(/img/candado2.svg);  
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center; 
}

#correo::placeholder{
    background-image: url(/img/candado2.svg); 
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
}

.control-input{
    margin-left: 193px;
}
.form-group-mail{
    margin-left: 190px;
}




.colum3 {
    max-width: 450px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
    justify-content: right;
    margin-right: 100px;
    margin-top: 60px;
      
}

.colum3 p{
font-size: 15px;

}

.row2 {
    display: flex;
    margin-top: 40px;
    justify-content:right;
    font-size: 14px;
    
}

.row2 img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-top: 5px;
}

.row2 label {
    margin-left: 20px;
    max-width: 140px;
    
}

@media screen and (max-width:715px) {
    .container-body {
        flex-wrap: wrap;
    }

    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}

#galeria.col-lg-4 {
    margin: 0 !important;
    padding: 40px;
    
}

#galeria img {
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
    
}

#galeria img:hover {
    border: 5px solid #f5f2f2;
}

.contenedor{
    display:flex;
    justify-content: center;
     margin-top: 60px;

}




.encabezado {
    color : #36A0FF; 
    font-size: 27px;
}

    

.icono {
font-size: 35px ; 
color: #36A0FF; 
}



.form-control{
    display: flex;
    padding: 8px;
    width: 500px; 
    margin-left: 27%;
}
#check{
    margin-left: 27%;
}
#botonIniciar{
    padding: 8px;
    width: 500px;   
    margin-left: 18%;
}
#soporte{
    margin-left: 27%;
    margin-top: 5px;
}
#seleccion{
    margin-left: 26%;
    height: 10px;
    width: 512px;
    padding: 4px;
}
#comentario{
    margin-left: 20%;
}
#subirImagen{
    margin-left: 20%;
}
#formFileSm{
    width: 300px;
}
.form-label{
    margin-left: 80px;
}
.help-block{
    margin-left: 80px;
    padding: 5px;
   
}
#terminos{
    margin-left: 27%;

}
#botonRegistrate{
    margin-left: 27%;
    width: 500px;
    margin-bottom: 30px;
}
#botonContacto{
    width: 500px;
    margin-left: 18%;
    margin-top: 10px;
}

.contenedor{
  display: flex;  
  
}
