<!DOCTYPE html>
<html lang="es">

 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/bootstrap5/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/85fec555d4.js" crossorigin="anonymous"></script>
    <title>CRIOLIPOLISIS </title>
    <%-include('../template/head')%>
 </head>

 <body>
    
        
        <header>
          
          
            <%-include('../template/header')%>
          </header>
    
    <div class="fw-bold text-center pt-5">
        <h1>Ey! Que bueno que estes AQUÍ....</h1>
        <H4>Gracias por preferirnos.</H4>
    </div>

    <div class="container">
        <form action="#" class="">
            <h2 class="fw-bold text-center pt-5">REGISTRATE</h2>

            <div class="form-group">
                <label for="text" class="control-label col-md-8"></label>
                <div class=" col-md-12">
                    <input class="form-control" type="text" id="nombre" placeholder="Nombre y Apellido:">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="control-label col-md-8"></label>
                <div class="col-md-12">
                    <input type="email" class="form-control" id="correo" placeholder="Correo Electronico:">
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="control-label col-md-8"></label>
                <div class="col-md-12">
                    <input type="password" class="form-control" id="password" placeholder="Contraseña:">
                </div>
            </div>
            <br>

            <div class="form-group"id=seleccion>
                <select class="form-select form-select-sm">
                    <option selected>Seleccionar opción en el menu</option>
                    <option value="1">Criolipolisis</option>
                    <option value="2">Masajes</option>
                    <option value="3">Depilación</option>
                    <option value="4">Body Up pro</option>
                </select>
            </div>
            <br>
            <div class="form-group"id="comentario">
                <label for="text" class="control-label"></label>
                <div class="col-md-4">
                    <textarea class="form-control" placeholder="Deja un comentario aqui" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                </div>
            </div>
            <br>


            <div class="mb-3"id="subirImagen">
                <label for="formFileSm" class="form-label">Subir imagen</label>
                <div class="col-md-4">
                    <input class="form-control form-control-sm " id="formFileSm" type="file">
                </div>
                <p class="help-block">Maximo 50MB</p>
            </div>
            
            <div class="form-check"id="terminos">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Acepto politica de <strong>protección de
                        datos</strong>,términos y
                    condiciones
                </label>
            </div>
            <br>
            <div class="form-group ">
                <div class="col-md-12 col -md-offset-2" id="botonRegistrate">
                    <button class="btn btn-success col-md-12 " type="submit">REGISTRARME</button>
                </div>
            </div>
        </form>
    </div>

    <footer>
        
        <%-include('../template/footer')%>
    </footer>
    <script src="../js/bootstrap.bundle.min.js"></script>
    
 </body>

</html>