<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

</body>

</html>

<footer>


  <div class="container-body-footer">

    <div class="container-body">

      <div class="colum1">
        <h1>Nosotros</h1>
        <br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Veritatis ipsum, consequatur eius porro eligendi
          facilis consequuntur aliquid magnam molestiae pariatur amet,
          repellendus architecto odit laboriosam nesciunt.
          Velit sunt corrupti magnam?</p>
        <br>

        <div class="googleMap">
          <img src="/img/iconos redes sociales/google_google map_location_location place_map_pin_place_icon_512.png">
        </div>

      </div>


      <div class="colum2">
        <h1>Redes Sociales</h1>

        <br>
        <br>
        <div class="row">
          <img
            src="/img/iconos redes sociales/facebook_social_media_network_connection_communication_conversation_icon_512.png">
        </div>
        <br>

        <div class="row">
          <img src="img/iconos redes sociales/twitter_icon_512.png">
        </div>
        <br>

        <div class="row">
          <img src="/img/iconos redes sociales/instagram_social_media_video_play_picture_image_icon_512.png">
        </div>
        <br>

        <div class="row">
          <img src="/img/iconos redes sociales/youtube_512.png">
        </div>


      </div>
      <div class="colum3">

        <h1>Informacion Contacto</h1>
        <br>

        <div class="row2">
          <img src="/img/iconos redes sociales/casa (2).png" />
          <label>Av.Santa Fe 3444 Palermo, Buenos Aires, Argentina</label>
        </div>

        <div class="row2">
          <img src="/img/iconos redes sociales/telefono(2).png">
          <label>+5491127104218 / 1155113758</label>
        </div>

        <div class="row2">
          <img src="/img/iconos redes sociales/new_logo_gmail_icon_512.png">
          <label>zibacabapalermo@gmail.com</label>
        </div>

      </div>



    </div>
  </div>
  <div class="container-footer">
    <div class="footer-alineacion">
      <div class="copyright">
        © 2019 Todos los Derechos Reservados | <a href="home.html">Ocean's</a>
      </div>

      <div class="information">
        Informacion Compañia | Privacion y Politica |
        Terminos y Condiciones
      </div>
    </div>
  </div>


  
</footer>