<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/85fec555d4.js" crossorigin="anonymous"></script>
    <title>CONTACTO </title>
</head>

<body>

    <header>

        <%- include('../template/header')%>
    </header>

    <div class="contenedor">
        <div class="fila">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" method="publicación">
                        <fieldset>

                            <legend class="text-center header">Contáctenos</legend>
                            <div class="form-groupContenedor">
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset- 2 text-center">
                                        
                                    <div class="col-md-8">
                                        <input id="fname" name="name" type="text" placeholder="       Nombres"
                                            class="form-control">
  <br>                                          
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center">
                                        
                                    <div class="col-md-8">
                                        <input id="lname" name="name" type="text" placeholder="       Apellidos"
                                            class="form-control">
                                    </div>
                                </div>
<br>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center">
                                    <div clase=" col-md-8">
                                        <input id="email" name="email" type="text"
                                        class="form-control" placeholder="       Dirección de correo electrónico" >
                                    </div>
                                </div>
<br>    
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center">
                                    <div class="col- md-8">
                                        <input id="phone" name="phone" type="text" placeholder="       Teléfono"
                                            class="form-control">
                                    </div>
                                </div>
<br>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center">
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="message" name="message"
                                            placeholder="       Ingrese aquí su mensaje...."></textarea>
                                        </área de texto>
                                    </div>
<br>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col -md-offset-2" id="botonContacto">
                                    <button class="btn btn-success col-md-12 " id="botonEnviar"
                                        type="submit">ENVIAR</button>
                                </div>
                            </div>
<br>
                </div>

            </div>

            <footer>

            </footer>
            <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>