<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap5/bootstrap.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/85fec555d4.js" crossorigin="anonymous"></script>
  <title>NOSOTROS </title>
</head>

<body>

  <header>

    <%- include('../template/header')%>
  </header>
 

 <div class="parrafoQuienesSomos">
  <p>SOBRE ZIBA<p>
      <h1>Quienes somos</h1> 
      <p>Somos una empresa que brinda diferentes productos de excelente calidad para construir, refaccionar y/o remodelar los hogares y la obra.
   
       Contamos con una amplia gama de productos nacionales e importados con los precios más competitivos del mercado y un excelente servicio. Que junto a nuestro plantel de profesionales, lo orientamos a tomar la mejor decisión.
   
       Nuestro énfasis en la innovación es clave para lograr alcanzar un posicionamiento destacado en el sector, incorporamos a un grupo de profesionales capacitados el cual valoramos y protegemos. Para nosotros es de total importancia cumplir cabalmente con el rol de la empresa privada, a través de la generación de 
       empleos y la mejora de las condiciones económicas del país.</p> 
 </div>
   
    <div class="fondo">
      <img src="img/body3.jpg" alt="#" style="width: 30%; " alt="...">
    </div>

<div class="parrafoNuestraHistoria">
  <p>SOBRE ZIBA</p>
  <h1>Nuestra Historia</h1>
  Comercial Tucson SA tiene sus origines en el año 2006 con la importación y la distribución de porcelanatos y 
  revestimientos cerámicos para terminaciones de obras, con el correr del tiempo se comenzó a incorporar gran variedad de productos como grifería, losas sanitarias, guardas, mármoles, box de ducha y otros.
  
  En el año 2011 incorporamos diferentes unidades de negocio de comercialización y fabricación propia de aberturas de aluminio y marmolería, amueblamiento de cocinas, placares, vestidores y revestimientos cementicos.</div>
    
</div>


<div class="fondo2">
  <img src="img/body.png" alt="#" style="width: 30%; " alt="...">
</div>

<div class="parrafoNuestrosValores">
SOBRE ZIBA

<h1>Nuestros Valores</h1>

<strong>MISIÓN</strong>


Acercar inspiración e innovación a cada constructor para un mejor proyecto.

<strong>VISIÓN</strong>

Ser la Empresa número uno de Argentina en ventas de materiales de terminación para la construcción, situando como eje principal a nuestros clientes y priorizando nuestros equipos de trabajo bajo la filosofía constante de innovación y profesionalismo.

<strong>VALORES</strong>

- Vocación al servicio
- Trabajo en equipo
- Mejora continua
- Compromiso
- Amabilidad
- Pasión
- Comunicación

</div>
<h1>Te esperamos... </h1>
<p>Completá el formulario y probá nuestros servicios</p>

<button type="button" class="btn btn-success">Registrate</button>

  <footer>

    <%- include('../template/footer')%>
  </footer>
  <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>